.App-header {
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.App-header h3 {
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.search-seaction {
  min-height: 50px;
  margin: 20px 0;

  display: flex;
  justify-content: center;
  align-items: center;
}
.search-seaction .search-form input {
  height: 35px;
  padding: 0 10px;
  border: none;
  outline: none;
  box-shadow: 0 2px 3px 2px gray;

  margin: 0 10px;
}
.search-seaction .search-form button {
  padding: 5px 10px;
  height: 35px;
  border: none;
  cursor: pointer;
  background: #000000;
  box-shadow: 0 2px 3px 2px gray;
  color: white;
  letter-spacing: 1px;
}

.err {
  text-align: center;
  font-size: 1rem;
  color: rgba(255, 0, 0, 0.4);
}
.App {
  position: relative;
}
.gth-bg {
  position: absolute;
  z-index: -1;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  max-width: 400px;
  opacity: 0.3;
}
